exposure: 1
gain: 50.0
exp_range: [0.1,0.5,1,5,10]
gain_range: [1,2,5,25,50]
test_mode: 0
camera_type: ASI
d_x: 0.23639907836914062
d_y: 0.20307324727376302
altspeed: 2.295
azspeed: 2.6525
default_eyepiece: 1300
scope_focal_length: 2057
eyepieces:
    - name: 8mm Ethos
      mm: 8
      fov: 100
    - name: 13mm Ethos
      mm: 13
      fov: 100
    - name: 21mm Ethos
      mm: 21
      fov: 100
    - name: 31mm Nagler
      mm: 31
      fov: 82
